.top-nav{
     position: relative;
     width: 100%;
     height: 1.8rem;
     background-image: linear-gradient(180deg,#FF6040 ,#FF8A80);
}
.top-nav .in-top{
    position: absolute;
    width: 7.1rem;
    height: 2.08rem;
    bottom: -0.48rem;
    left: 50%;
    margin-left: -3.55rem;
    box-sizing: border-box;
   
    background-color: #fff;
    border-radius: .1rem;
    padding: .4rem;
}
.top-nav .in-top span:nth-child(1){
    font-weight: 600;
    font-size: .36rem;
    color: #333333;
    
}
.top-nav .in-top span:nth-child(2){
    font-size: .28rem;
    color: #666666;
}
















.middle-a{
    width: 100%;
    height: 8.4rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .68rem;
}



.middle-a .top-one{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
     line-height: .72rem    ;
} 
.top-one div:nth-child(1) i{

    width: .32rem;
    height: .32rem;
    margin: 0 .2rem;
    border-radius: 50%;
    background-color: #FF6040;
    
    
}

.top-one div:nth-child(1) span{
    font-weight: 600;
    font-size: .32rem;
    color: #333333;
}
.top-one div:nth-child(2) span:nth-child(1){
    font-size: .24rem;
    color: #333;

}
.top-one div:nth-child(2) span:nth-child(2){
    display: inline-block;
    width: .02rem;
    height: .2rem;
   background-color:  #979797;
   margin: 0 .19rem;
}
.top-one div:nth-child(2) span:nth-child(3) a{
    font-size: .24rem;
    color: #FF6040;
    padding-right: .2rem;
}
















.goods-one{
    width: 7.12rem;
    height: 2.18rem;
    margin: 0 auto;
  
}
.goods-one a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.goods-one img{
       width: 2.16rem;
       height: 2.18rem;
}
.goods-one .bbox{
    width: 4.66rem;
    height: 2.18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   align-items: flex-start;
}
.goods-one .bbox span:nth-child(1){
    font-size: .32rem;
    color: #333333;

}
.goods-one .bbox .pic{
    width: 100%;
}
.goods-one .bbox .pic span:nth-child(1){
    font-size: .24rem;
    transform: scale(0.6);
    color: #FF6040;
}
.goods-one .bbox .pic span:nth-child(2){
    /* font-weight: 600; */
    font-size: .38rem;
    
    color: #FF6040;
}
.goods-one .bbox .pic div:nth-child(3){
   display: flex;
   align-items: center;
    font-size: .32rem;
    transform: scale(0.6);
    color: #333333;
  
   

}
.goods-one .bbox .pic div:nth-child(3) .span-1
{
    font-size: .5rem;
    color: #333333;
}
  
.goods-one .bbox .div3{
    display: inline-block;
   width: 2.2rem;
  font-size: .24rem;
    transform: scale(0.6);
    color: #ffffff;
    background-color: #FF8066;
    margin-top: -0.04rem;
    padding: .02rem .08rem;
    margin-left: -0.4rem;
   
}
 .goods-one .bbox .div4{
    display: inline-block;
   width: .7rem;
  font-size: .24rem;
    transform: scale(0.6);
    color: #ffffff;
    background-color: #FF8066;
    margin-top: -0.04rem;
    padding: .02rem .08rem;
    margin-left: -0.4rem;
    white-space: nowrap;
   
}

.div-aa{
    width: 7.1rem;
    display: flex;
    justify-content: space-between;
    
}
.div-aa span:nth-child(1){
    font-weight: 600;
    font-size: .24rem;
    color: #333333;
}

.div-aa .www{
    font-size: .24rem;
    color: #333333;
}

.div-aa span:nth-child(2){
    font-size: .24rem;
    color: #666666;
}
     


.middle-b{
    width: 100%;
    height: 3.9rem;
    margin-top: .2rem;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.middle-b .div-aa{
    width: 7.1rem;
    display: flex;
    justify-content: space-between;
    
}
 .middle-b .div-aa span:nth-child(1){
    font-weight: 600;
    font-size: .24rem;
    color: #333333;
}


 .middle-b .div-aa span:nth-child(2){
    font-size: .24rem;
    color: #666666;
}
 .middle-b .div-ab span:nth-child(2) {
     color:#FF6040 ;
 }















 .fix-0{
     min-width: 320px;
    max-width: 750px;
     position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: .98rem;
    box-shadow: 0 .01rem #cccccc;
     background-color: #fff;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.fix-0 .div-b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: .2rem;
}
.fix-0 .div-b span:nth-child(1){
       font-weight: 600;
    font-size: .32rem;
    color: #333333;
}
.fix-0 .div-b span:nth-child(2){
    
    font-size: .24rem;
    color: #999999;
}
.fix-0 .div-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.fix-0 .div-c span:nth-child(1){
       font-weight: 600;
    font-size: .32rem;
    color: coral;
}
.fix-0 .div-c span:nth-child(2){
    
    font-size: .24rem;
    color: #999999;
}
.fix-0 .div-d{
    width: 2.2rem;
    height: .98rem;
    font-size: .32rem;
    text-align: center;
    line-height: .98rem;
    color: white;
      background-color:coral;
}